flask>=3.0.0
opencv-python>=4.8.0
Pillow>=10.0.0
requests>=2.31.0
pymysql>=1.1.0
cryptography>=42.0.0
werkzeug>=3.0.0
#new version
facenet_pytorch

# Qwen3-VL local labeling
modelscope>=1.18.0
transformers>=4.45.0
accelerate>=0.34.0
sentencepiece>=0.2.0
